#background {
    position: fixed;
    padding: 0;

    top: 0;
    left: 0;

    z-index: -100;
    width: 100%;
    height: 100vh;
    
    background-color: black;
}
#background > img {
    width: 100%;
    height: 100%;
    opacity: 0;
}

nav {
    display: flex;
    justify-content: space-around;
    background-color: rgba(0, 98, 245, 0.1);
}

.menu {
    padding: 0;
    margin: 0 auto; 
    color: #026E6D;
    display: flex;
    justify-content: left;
}
.menu > li{
    width: 15rem;
    height: 14vh;

    list-style-type: none;
    text-decoration: none;

    display: flex;
    justify-content: center;
    align-items: center;

    transform: translateY(0px);
}
.menu > .logo {
    width: 22vw;
    display: flex;
    justify-content: center;
}
.menu > .logo > a{
    font-size: 40px;   
}

.logoWypelniacz {
    display: flex;

    width: 12.5%;
    height: 100%;

    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.hamburger {
    display: none;

    width: 90%;
    height: 90%;
    border-radius: 1vw;

    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

    cursor: pointer;
}
.hamburger:hover {
    background-color: rgba(245, 245, 245, 0.1);
}
.hamburger > div {
    background-color: whitesmoke;

    width: 10vw;
    height: 2vh;
    border-radius: 1vw;

    margin: 0;
    padding: 0;
}
.zamykacz {
    display: none;

    width: 12.5%;
    height: 100%;
}


.menu a {
    font-family: 'fast_handregular', sans-serif;
    text-decoration: none;
}
.menu a:visited {
    color: #026E6D;
}
.menu a:link {
    color: #026E6D;
}
.menu a:hover {
    color: #033161;
    cursor: pointer;
}



header {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    height: 100%;

    margin-top: 10vh;
}

.tekstWstepny {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

    width: 60vw;
    height: 40vh;
}
.tekstWstepny p, q {
    text-align: center;
    margin: 0 auto;

    font-size: 40px;
    color: #e7e7e7;
    font-variant: small-caps;
    font-weight: bold;
}


footer {
    margin-top: 10vh;
    width: 100%;
    height: 15vh;
    background-color: rgba(2, 90, 120, 0.4);

    display: flex;
    justify-content: center;
    align-items: center;
}
footer > p {
    color: #e7e7e7;
    font-family: 'fast_handregular', sans-serif;
    margin: 0 auto;
}





/* #07026E
#021C78
#033161
#025A78
#026E6D */