html {
    scroll-behavior: smooth;
    scrollbar-color: black;
}
body{
    margin: 0;
    padding: 0;
    height: 100%;
    
    font-family: 'Roboto', sans-serif;
    background-color: black;
    
}
main {
    color: #e7e7e7;;
}

h1 {
    font-size: 3rem;
}
h2 {
    font-size: 2.6rem;
}
h3 {
    font-size: 2.2rem;
}
p {
    font-size: 2.2rem;
}
q{
    font-size: 2.2rem;
}
a {
    font-size: 1.6rem;
}

.liAktywny {
    display: flex !important;
    transform: translateY(0px) !important;
    transition: 0s !important;
}

.liPrzejscie_one {
    display: flex !important;
    transition: 0.7s !important;
    transform: translateY(-700px) !important;
}

.liPrzejscie_two {
    display: flex !important;
    transition: 0.7s !important;
    transform: translateY(0px) !important;
}

.liNieaktywny {
    display: none !important;
    transform: translateY(-700px) !important;
    transition: 0.7s !important;
}