@media screen and (max-width: 1200px) {
    #background > img {
        width: auto !important;
        height: auto !important;
        
    }
    
    nav {
        background-color: rgba(0, 0, 0, 0);
        margin-bottom: 15vh;
    }
    .menu {
        flex-wrap: wrap;
        justify-content: center;
    }
    .menu > li {
        width: 100vw;
    }
    .menu > .logo {
        width: 100vw !important;
        background-color: rgba(0, 98, 245, 0.1);
    }
    .logo > a {
        width: 75% !important;
        text-align: center !important;
    }
    .hamburger {
        display: flex !important;
    }
    .zamykacz {
        display: block !important;
    }

    header {
        margin-top: 0vh !important;
    }


    .gridContainer {
        grid-template-columns: repeat(2, 1fr) !important;
        grid-template-rows: repeat(3, 1fr) !important;
    }

    .gridContainer .galeriaItem{
        grid-row: auto !important;
        grid-column: auto !important;
    }
    .galeriaItem img {
        height: auto !important;
        transform: translateY(-25%);
    }

    .ofertContainer {
        height: 48vh;
    }
}

@media screen and (max-width: 1000px) {
    .artGridContainer {

        grid-template-columns: 1fr !important;
        grid-template-rows: repeat(3, 1fr) !important;
        row-gap: 1vw;
    }

    #artykul .artElement:nth-child(1){
        grid-column: 1/2;
        grid-row: 1/2;
    }
    #artykul .artElement:nth-child(2){
        grid-column: 1/2;
        grid-row: 2/3;
    }
    #artykul .artElement:nth-child(3){
        grid-column: 1/2;
        grid-row: 3/4;
    }

    #artykul .artContainer {
        height: 120vw !important;
    }

    .artContainer p {
        font-size: 2vw !important;
    }

    .ofertContainer {
        height: 40vh !important;
    }

}
@media screen and (max-width: 800px) {
    html {
        text-overflow: ellipsis;
    }

    .menu li {
        height: 16vh !important;
    }
    .menu a {
        font-size: 5vw !important;
    }
    .logo a {
        font-size: 7vw !important;
        width: 50% !important;
    }
    .logoWypelniacz {
        width: 25% !important;
    }
    .hamburger {
        height: 80%;
    }
    .hamburger > div {
        width: 15vw;
        height: 1.8vh;
    }
    .zamykacz {
        width: 25% !important;
    }


    .tekstWstepny {
        width: 85% !important;
    }

    .tekstWstepny p, q {
        font-size: 5vw !important;
    }

    .artNakladka {
        font-size: 2.5vw;
    }

    #background > img {
        transform: translateX(-15%);
    }


    .ofertGridContainer {
        grid-template-columns: repeat(1, 1fr) !important;
        grid-template-rows: repeat(3, 1fr) !important;

        row-gap: 1.5vh;
    }
    .ofertGridContainer img {
        overflow: hidden;
        height: auto !important;
        width: auto !important;
    }

    .ofertContainer {
        height: 100vh !important;
    }


}

@media screen and (max-width: 540px) {
    header {
        margin-top: 8vh !important;
    }
    main {
        margin-top: 10vh !important;
    }
    #artykul {
        margin-top: 10vh !important;
    }

    .hamburger {
        height: 60% !important;
    }

    .hamburger > div {
        height: 1.2vh !important;
    }


    #galeria {
        margin-top: 10vh !important;
    }
    .galContainer {
        height: 150vh !important;
    }
    .gridContainer {
        grid-template-columns: repeat(1, 1fr) !important;
        grid-template-rows: repeat(12, 1fr) !important;
        
        row-gap: 1.5vh !important;
    }

    .gridContainer .galeriaItem{
        grid-row: span 2 !important;
        grid-column: auto !important;
    } 
}
